* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    text-align: center;
}
.pNav {
    width: 95%;
    height: 8vh;
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    box-shadow: 5px 5px 10px gray;
    margin-left: auto;
    margin-right: auto;
    background-color: #085573cf;
    font-size: 1.6em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-radius: 5px;
    align-items: center;
}

.pNav NavLink {
    color: #fff !important;
    text-decoration: none;
}

table {
    width: 95%;
    margin: auto;
    border-left: 3px solid rgb(13, 223, 164);
    border-right: 3px solid rgb(13, 223, 164);
}

th {
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(26, 41, 118);
    border-top: 2px solid rgb(26, 41, 118);
    text-shadow: 5px -5px 5px gray;
}

th:nth-child(1) {
    width: 12%;
}

th:nth-child(2) {
    width: 8%;
}

th:nth-child(3) {
    width: 20%;
}

th:nth-child(4) {
    width: 10%;
}

th:nth-child(5) {
    width: 8%;
}

th:nth-child(6) {
    width: 7%;
}

td {
    text-align: left;
    font-size: 1.2em;
    border-bottom: 2px solid rgb(69, 8, 238);
    border-radius: 3px;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(5) {
    text-align: center;
}

td:nth-child(6) {
    text-align: center;
}

.btn {
    width: 15%;
    height: 6vh;
    overflow: hidden;
    float: right;
    margin-right: 2.5%;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 2em;
}

.btn:hover {
    cursor: pointer;
    border: 1px solid gray;
    color: blue;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    transition: 0.7s ease all;
}

.pNavLink {
    text-decoration: none;
}

.pDiv {
    width: 95%;
    height: 70vh;
    margin: auto;
}

#sno {
    width: 5%;
}

.nStu {
    padding: 1% !important;
}

.form {
    width: 99%;
    margin: auto;
}

.lForm {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
    margin: auto;
}

.lForm label {
    width: 18%;
    font-size: 2.4em;
    transition: 0.7s ease all;
}

.lForm label:hover{
    box-shadow: -5px 5px 5px gray;
    border-radius: .2em;
    border: none;
    border-top: 1px solid black;
    border-right: 1px dotted black;
}

.lForm input {
    width: 45%;
    height: 3.5em;
    padding: 1em;
    font-size: 1em;
    box-sizing: border-box;
    color: blue;
    font-weight: 700;
    border: none;
    font-style: italic;
}

.lForm input:hover {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    transition: 0.7s ease all;
}

.form-control{
    width: 50%;
}

/* Home Style */

.dDesc {
    display: flex;
    width: 95%;
    height: 5em;
    /* border-bottom: .15em solid black; */
    /* border-right: .15em solid black; */
    margin: 1.4em auto;
    align-items: center;
    /* margin: 1em; */
    box-sizing: border-box;
    padding-right: 1rem;
    border-radius: 1em;
    box-shadow: 5px 5px 5px gray;
}

.pTopic {
    width: 25%;
    display: block;
    text-align: left;
    margin: auto 1em;
}

.pDesc {
    width: 80%;
    text-align: left;
    font-weight: 600;
}

